# example dataset
CONT/example_dataset/
CONT/full_dataset/
CONT/testset_imu/
CONT/models/
# Byte-compiled / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are in the root of the repository, but you can also have them in other locations.
#  Refer to the documentation:
#  https://pythonhosted.org/PyInstaller/frequently-asked-questions.html#what-is-the-best-way-to-clean-up-the-pyinstaller-build
#  If you have this folder inside your source tree, you can uncomment the line below.
# build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
test-results/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# VSCode settings
.vscode/

# IDE settings
.idea/
*.iml

# Temporary files and directories
tmp/
temp/

# System-specific files
.DS_Store
Thumbs.db